body{
    height: 100vh;

    display: grid;
    place-items: center;
}

.container{
    width: 900px;
}

.nav{
    display: flex;
    background-color: #f1f1f1;
    border: 1px solid #ddd;

    padding: 0;
    margin: 0;
}

.nav .nav-item{
    list-style-type: none;
}

.nav .tablinks{
    font-size: 16px;
    border: none;
    padding: 15px 20px;
    
    cursor: pointer;

    transition: background-color .3s ease-in;
}

.nav .tablinks:hover{
    background-color: #ccc;
}

.nav .tablinks.active{
    background-color: #ccc;
}

.tab-content{
    background-color: #ccc;
}

.tab-pane{
    border: 1px solid #ddd;
    border-top: none;

    padding: 5px 15px;

    display: none;
}

.btn-close{
    font-size: 30px;
    float: right;
    
    cursor: pointer;
    
    transition: color .2s ease-in;
}

.btn-close:hover{
    color: red;
}